<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Familia</title>
</head>
<body>
<h1>DATOS DE FAMILIARES</h1>
<br>
<b>Tipo de familiar = {{ Francisco.parent }}</b>
<br>
Su nombre es: {{ Francisco.nombre }}
<br>
Su apellido es: {{ Francisco.apellido }}
<br>
Su fecha de nacimiento es: {{ Francisco.nacimiento }}
<br>
<br>


<b>Tipo de familiar = {{ Vanesa.parent }}</b>
<br>
Su nombre es: {{ Vanesa.nombre }}
<br>
Su apellido es: {{ Vanesa.apellido }}
<br>
Su fecha de nacimiento es: {{ Vanesa.nacimiento }}
<br>
<br>

<b>Tipo de familiar = {{ Lolo.parent }}</b>
<br>
Su nombre es: {{ Lolo.nombre }}
<br>
Su apellido es: {{ Lolo.apellido }}
<br>
Su fecha de nacimiento es: {{ Lolo.nacimiento }}
<br>
<br>


</body>
</html>